<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="PLSE_MVVMStrong.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="Folder" value="Folder string"/>
		<add key="Path" value="Path string"/>
	</appSettings>
	<connectionStrings>
		<add name="PLSE" connectionString="Data Source=.\SIRSERVER;Initial Catalog=PLSE_New;Integrated Security=True;Connect Timeout=5"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <PLSE_MVVMStrong.Properties.Settings>
            <setting name="InitLogin" serializeAs="String">
                <value>Кожаева</value>
            </setting>
            <setting name="SavePath" serializeAs="String">
                <value>c:\Users\Asassin\</value>
            </setting>
            <setting name="CheckExpertise" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GroupBySpec" serializeAs="String">
                <value>False</value>
            </setting>
        </PLSE_MVVMStrong.Properties.Settings>
    </userSettings>
</configuration>